body {
    background-image: url(../game/img/gamebackg2.png);
    height: 140%;
    background-size: 100% 115%;
    background-repeat: no-repeat;
}

.container {
    padding: 40px 20px;
    width: 200px;
    border-radius: 20px;
    border: 1px solid #2196F3;
    background: lightgray;
    margin: 100px auto;
    box-shadow: 0px 3px blue;
}

#innerDiv {
    /*חלוקה לתאים */
    transition: 2s;
}

input {
    outline: none;
    box-shadow: 0px 1px blue;
    border: none;
    padding: 2px;
}

input:last-child {
    margin-top: 10px;
}

button {
    margin-top: 10px;
    box-shadow: 0px 1px blue;
    border: none;
    padding: 2px;
}